* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(11, 1, 52);
  text-align: center;
  align-items: center;
}

:root {
  font-size: 62.5%;
}

.edu_img {
  margin-top: 2rem;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  border: 1px solid black;
}

main {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: white;
  font-weight: 400;
  font-size: 3.5rem;
}

h1:hover {
  font-size: 4rem;
  transition: .5s;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding-inline: 5rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

a:first-child:hover {
  background-color: rgb(16, 28, 190);
  transition: .8s;
  color: white;
}

a:nth-child(2):hover {
  background-color: rgb(0, 0, 0);
  transition: .8s;
  color: white;
}

a:nth-child(3):hover {
  background: rgb(255,85,0);
  background: linear-gradient(90deg, rgba(255,85,0,1) 0%, rgba(121,9,38,1) 50%, rgba(59,0,255,1) 100%);
  transition: .8s;
  color: white;
}

.edu_img:hover {
  border: 2px solid rgb(225, 103, 16); 
  
}

p {
  margin-top: 7rem;
  color: white;
}





